<div class="row">
  <div class="col-md-8 col-sm-8">

    <div class="jumbotron careers-section">
      <div class="row">
        <div class="col-md-12 col-sm-12 section-body">
          <div class="section-subheading">Recommended</div>
          <h4 class="section-heading">Careers</h4>
          <i class="circle"></i>

          <div class="row" ng-repeat="c in careers_result">
            <div class="col-md-1 col-sm-1">
              <i class="{{ c.icon }}"></i>
            </div>
            <div class="col-md-11 col-sm-11 no-left-padding">
              <div class="col-md-8 col-sm-12 no-left-padding">
                <div class="col-md-12 col-sm-12 title no-left-padding"><h4>{{ c.title }}</h4></div>
                <div class="col-md-12 col-sm-12 no-left-padding">
                  <span class="label label-default">{{ c.experience | uppercase }}</span> - 
                  <span>Sponsored by : <a href="">{{ c.sponsored_by }}</a></span>
                </div>
                <div class="col-md-12 col-sm-12 description no-left-padding">{{ c.description }}</div>
              </div>
              <div class="col-md-4 col-sm-12 section-action"><button type="button" class="btn btn-primary">TAKE EVALUATIONS</button></div>
            </div>
          </div>
          <div class="row section-footer">
            <div class="col-md-12 col-sm-12 text-right">
              <span>View all 23 Recommended Careers ></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron companies-section">
      <div class="row">
        <div class="col-md-12 col-sm-12 section-body">
          <div class="section-subheading">Recommended</div>
          <h4 class="section-heading">Companies</h4>
          <div class="circle"></div>

          <div class="row" ng-repeat="c in companies_result">
            <div class="col-md-1 col-sm-1 text-center">
              <img ng-src="{{ c.img_url }}"/>
            </div>
            <div class="col-md-11 col-sm-11 no-left-padding">
              <div class="col-md-8 col-sm-12 no-left-padding">
                <div class="col-md-12 col-sm-12 title no-left-padding"><h4>{{ c.title }}</h4></div>
                <div class="col-md-12 col-sm-12 no-left-padding no-of-careers-jobs">
                  <span>{{ c.no_of_careers }} Careers</span>, <span>{{ c.no_of_jobs }} Jobs</span>
                </div>
                <div class="col-md-12 col-sm-12 description no-left-padding" ng-show="c.share == 'yes'">
                  <span class="fa fa-share-square-o"></span> <span>SHARE</span>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 section-action" ng-show="c.follow == 'yes'">
                <button type="button" class="btn btn-default">
                  <span class="fa fa-user-plus"></span> FOLLOW</button>
              </div>
            </div>
          </div>
          <div class="row section-footer">
            <div class="col-md-12 col-sm-12 text-right">
              <span>View all 17 Recommended Companies ></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron jobs-section">
      <div class="row">
        <div class="col-md-12 col-sm-12 section-body">
          <div class="section-subheading">Recommended</div>
          <h4 class="section-heading">Jobs</h4>
          <div class="circle"></div>

          <div class="row" ng-repeat="c in jobs_result">
            <div class="col-md-1 col-sm-1 text-center">
              <img ng-src="{{ c.img_url }}"/>
            </div>
            <div class="col-md-11 col-sm-11 no-left-padding">
              <div class="col-md-8 col-sm-12 no-left-padding">
                <div class="col-md-12 col-sm-12 title no-left-padding"><h4>{{ c.title }}</h4></div>
                <div class="col-md-12 col-sm-12 job-company no-left-padding"><span>{{ c.company }}</span></div>
                <div class="col-md-12 col-sm-12 job-place no-left-padding"><span>{{ c.place }}</span></div>
                <div class="col-md-12 col-sm-12 save-icon no-left-padding" ng-show="c.save == 'yes'">
                  <span class="fa fa-download"></span> SAVE</button>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 section-action">
                <button type="button" class="btn btn-default btn-rating" 
                style="background-color:{{c.btncolor}}; border-color:{{c.btncolor}};">
                  {{ c.rating }}
                </button>
              </div>
            </div>
          </div>
          <div class="row section-footer">
            <div class="col-md-12 col-sm-12 text-right">
              <span>View all 34 Recommended Jobs ></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Right Rails -->
  <div class="col-md-4 col-sm-4">
    <div class="jumbotron notifications-section">
      <div class="row">
        <div class="col-md-12 text-left section-heading">NOTIFICATIONS <span class="badge"> 3</span></div>
      </div>
      <div class="row" ng-repeat="c in notifications_result">
        <div class="col-md-2">
          <img ng-src="{{ c.img_url }}"/>
        </div>
        <div class="col-md-10 description text-left">{{ c.description }}</div>
      </div>
    </div>
    <div class="jumbotron plans-section">
      <div class="row">
        <div class="col-md-6 text-left section-heading">ACTION PLAN</div>
        <div class="col-md-6 text-right"><a href="">View all (23)</a></div>
        <div ng-repeat="c in plans_result">
          <div class="col-md-2">
            <img ng-src="{{ c.img_url }}"/>
          </div>
          <div class="col-md-10 description text-left ">{{ c.description }}</div>
        </div>
      </div>
    </div>
    <div class="jumbotron skills-section">
      <div class="row">
        <div class="col-md-6 text-left section-heading">MY SKILLS <span class="badge"> 23</span></div>
        <div class="col-md-6 text-right"><a href="">View Details</a></div>
        <div class="col-md-12 skill-chart">
          <div id="container-chart"></div>
        </div>
        <div class="col-md-6 text-left" ng-repeat="l in chart_legends">
          <span class="badge legend-badge" style="background-color: {{l.color}}"> </span> <span> {{l.description}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
